
<div>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation" >
			<div class="container">
				<a href ="#" class="navbar-brand">TravelMate</span></a>
				<button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse" ng-click="isCollapsed = !isCollapsed">
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
				</button>
				<div class = "collapse navbar-collapse navHeaderCollapse">
					<ul class = "nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class ="dropdown-toggle" data-toggle = "dropdown"><i class="fa fa-bullhorn"></i> Posts {{auth.profile.user_id}} <b class = "caret"></b></a>
                <ul class = "dropdown-menu">
                  <li ng-class="{ active: isActive('/posts')}"><a href = "#addPosts"><i class="fa fa-bullhorn"></i> AddPosts</a></li>
                  <li ng-class="{ active: isActive('/posts')}"><a href = "#"><i class="fa fa-bullhorn"></i> AllPosts</a></li>
                </ul>
            </li>
              <li ng-class="{ active: isActive('/friends')}"><a href ="#friends"><i class="fa fa-users"></i> Friends</a></li>
              <li class="dropdown">
                  <a class ="dropdown-toggle" data-toggle = "dropdown"><i class="fa fa-inbox"></i> Messages <b class = "caret"></b></a>
                  <ul class = "dropdown-menu">
                    <li ng-class="{ active: isActive('/newMessage')}"><a href="#message">New Message</a></li>
                    <li ng-class="{ active: isActive('/messages')}"><a href="#message">Messages</a></li>
                  </ul>
              </li>
              <li class="dropdown dropdown-inverse ">
                <a class ="dropdown-toggle navbarPic" data-toggle = "dropdown">
                  <img class = "circular" ng-src="{{auth.profile.picture}}"></img>

                  </a>
                  <ul class = "dropdown-menu dropdown-menu-inverse">
                    <li ng-class="{ active: isActive('/about')}"><a href="#about"><i class="fa fa-info"></i> About</a></li>
                    <li ng-class="{ active: isActive('/contact')}"><a href="#contact"><i class="fa fa-envelope"></i> Contact</a></li>
                    <li ng-class="{ active: isActive('/profile')}"><a href="#profile"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                  </ul>
              </li>

					</ul>
				</div>
			</div>

		</nav>

  <div ui-view />
</div>
