.box2 {
  padding: 2em;
  border: 2px solid #a1a1a1;
  display: block;
  width: 100%;
  border-radius: 25px;

  margin: -1px 0 0 -1px;
  color: black;


}

.profilePicture{
  display: block;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 3px solid #eee;
    box-shadow: 0 5px 5px rgba(44, 34, 3, 0.3);
    margin: 0 0 0 0;
    padding: 0;
    z-index: 1;
}
.dropdown-menu{
  background-color: #009971;

}
.dropdown-menu>li>a {
  color: #ffffff ;
}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff ;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.circular{
  display: block;
    width: 50px;
    height: 50px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 0;
    padding: 0;
    z-index: 1;
}
.navbarColor{
  background-color: #332f1b;
}
.mainPage{
  padding-top:55px;
}
.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
.angular-google-map-container{
  height:200px;
}
.maincontent{
  min-width: 200px;
}

/* XLarge Desktop */

@media (min-width:1200px){
  .postContainer{
    padding-top:55px;

  }
  .poster{
    position:absolute;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;

  }
}

/* Large desktop */

@media (min-width: 980px) and (max-width: 1199px){
  .postContainer{
    padding-top:55px;
    padding-right:50px;
    padding-left:50px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.col-md-6, .container{

  padding-right: 10px;
  padding-left: 10px;

  marging-right: 0px;
  marging-left:0px;
}
.panel-heading{

  margin-top:10px;
  margin-bottom: 0px;
}
.postContainer{
  padding-top:55px;
  padding-right:20px;
  padding-left:20px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #ffffff;
background-color: #007a5a;
box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
box-shadow: 10px 0 30px #004d39;
}
/*.panel-body{
  padding-right:0px;
  padding-left:0px;
}*/
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .col-md-6, .container{
    padding-right: 10px;
    padding-left: 10px;

    marging-right: 0px;
    marging-left:0px;
  }
  .panel-body{

    padding-right:5px;
    padding-left:5px;
  }
  .panel-heading{
    margin-top:10px;
    margin-bottom: 0px;

    padding-top:2px;
    padding-bottom:2px;
    padding-right: 5px;
    padding-left:5px;
  }
  .panel-body{
    padding-top:5px;
    padding-bottom:5px;
  }
  .maincontent{
    margin-top:5px;
    margin-bottom:5px;
  }
  .postContainer{
    padding-top:55px;
    padding-right:10px;
    padding-left:10px;
  }
  .buttonClassic{
    padding-bottom:20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
  }

/* Landscape phones and down */
@media (max-width: 480px) {
  .col-md-6, .container{
    padding-right: 0px;
    padding-left: 0px;

    marging-right: 0px;
    marging-left:0px;
  }
  .panel-body{

    padding-right:5px;
    padding-left:5px;
  }
  .postContainer{
    padding-top:55px;
    padding-right:5px;
    padding-left:5px;
  }
  .buttonClassic{
    padding-bottom:20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
  }
