.box2 {
  padding: 2em;
  border: 2px solid #a1a1a1;
  display: block;
  width: 100%;
  border-radius: 25px;

  margin: -1px 0 0 -1px;
  color: black;


}
/*main Icon in open project */
.travelIcon{
  width: 150px; padding-top:9px; padding-left: 5px;
}
/* navbar collapse */
.nav-collapse, .nav-collapse.collapse {
    overflow: visible;
}
.navbar .btn-navbar {
    display: none;
}
.container-fluid{
  padding-right:0px;
  padding-left:0px;
}
.img-responsive{
  width: 100%;
  height: auto;
 overflow: hidden;
}

/* image slider */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/* rslide previous and next button */

  .rslides_nav.prev,
  .rslides_nav.next{
    border: 1px solid #006600;
     background-color: #009971;
     color: #ffffff;
     text-decoration: none;
     padding: 10px 20px 10px 20px;
     display: inline-block;
     width: 110px;
     text-align:center;
     font-size: 18px;
     border-radius: 6px;
      color: #FFF;
      border: solid 1px #20538D;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
      -webkit-transition-duration: 0.2s;
      -moz-transition-duration: 0.2s;
      transition-duration: 0.2s;
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
  }
  .rslides_nav.next:hover,
  .rslides_nav.prev:hover  {
    background: #356094;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
  /* end */
  [ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
  }
  /* google maps */
  .angular-google-map-container {
    padding-left:20px;

    max-width: 400px;
    height: 350px;
}
.maps{
  padding-left:10px;
}
.file {
  color:#08233e;
  font:2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
  font-size:70%;
  padding:14px;

  background-color:rgba(0,153,113, 0.8);
  border:1px solid #007a5a;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border-bottom:1px solid #9f9f9f;
  -moz-box-shadow:inset 0 1px 0 rgba(0,153,113, 0.8);
  -webkit-box-shadow:inset 0 1px 0 rgba(0,153,113, 0.8);
  box-shadow:inset 0 1px 0 rgba(0,153,113, 0.8);
  cursor:pointer;
 }
 .file:hover {
  background-color:rgba(0,91,67, 0.8);
 }
/* fix for Twitter Bootstrap handling of responsive images */


.shrink {
    font-size: 8;
}

.true:hover {
    background-color: lightgreen;
}

.false:hover {
    background-color: lightpink;
}

.marker-labels {
    color: red;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    white-space: nowrap;
}
/* end */

/* panel body color for search bar */
.panel-body {
  background-color: #8ebd8d;
}
.centered{
  display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
padding-left:5px;
padding-right: 5px;
}
.center-justified{
  text-align: justify;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-indent: 30px;


}
.btn.btn-default {
    background:  transparent;

    border: none;
}
.btn.btn-default:hover {
    background:  transparent;

    border: none;
}
/* ------------------- */

/* a href link color main content */
.link{
  color:black;
   text-decoration: none;
   background-color: none;
}
.link:focus{
  text-decoration: none;
}
.link:hover, .link:active, .link:focus{
    text-decoration:none;
}
/*
p:first-letter{
  font-size: 200%;
  font-family:  garamond, bodoni, curly, times, serif;
  text-shadow: 2px 1px 0 #BBBFC7, 7px 7px 0 #fff;
  color: #cc8400;

}
*/

html, body, #map_canvas {
           height: 100%;
           width: 100%;
           margin: 0px;
       }

       #map_canvas {
           position: relative;
       }
/* postImage */

.postImage{
  max-height: 600px;
}
/* end */
/* -- Heart color --*/
.fa.fa-heart.fa-2x.red{
  color:#cc0000;
}
/* -- Star color -- */
.fa.fa-star.fa-2x.yellow{
  color:#ffff19;

}
/* -- Remove favorite -- */
.fa.fa-minus-circle.fa-2x.remove{
  color:red;
}
/* main page log background color */
.panel.panel-default.logs {
  background-color: #ffffff;
}
/* just for test image main page */
.tile.wide.imagetext.wideimage {
  width: 310px;
  height: 150px;
  padding: 0;
}

.metro.tile {
  position: relative;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #2C83EF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.bg-color-blue {
  background-color: #2e8bcc !important;
}

.about-img{
  height: 50px;
}
.profilePicture{
  display: block;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 3px solid #eee;
    box-shadow: 0 5px 5px rgba(44, 34, 3, 0.3);
    margin: 0 0 0 0;
    padding: 0;
    z-index: 1;
}
.dropdown-menu{
  background-color: #009971;

}
.dropdown-menu>li>a {
  color: #ffffff ;
}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff ;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.circular{
  display: block;
    width: 50px;
    height: 50px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 0;
    padding: 0;
    z-index: 1;
}
.navbarColor{
  background-color: #332f1b;
}
.mainPage{
  padding-top:55px;
}
.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.maincontent{
  min-width: 200px;
}

/*/ customAlert */
.alert.customAlert {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666;
    min-width: 400px;
    padding : 20px 40px 20px 30px;
    position: fixed;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 92px;
}

.customAlert strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.customAlert .close {
    position: absolute !important;
    right: 15px !important;
    top: 5px !important;
}
.customAlert em {
    color: #999;
    display: inline-block;
    margin: 0 5px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}
.listAddCont .action{
    top: 13px;
}
/* padding col main */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9,
.col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right:5px;
padding-left:5px;
}
/*small picture on main content logs page */
.col-xs-2.col-sm-6.small{
  width:80px;
  margin-top:7px;
  margin-left:22px;
}



/* XLarge Desktop */

@media (min-width:1200px){
  /* log panel */

  .heading{
    text-align: center;
  }
  .individualLink{
    margin-top:10px;
    padding-left:20px;
  }
  .col-xs-6.time{
    margin-top:50px;
  }
  .content{
    text-align: justify;
      padding-left: 10px;
      padding-right: 20px;
  }
  .panel-heading{
    font-weight: bold;
  }
  /* main image */
  .mainPic{
    height: 300px;
    max-width: 450px;

    overflow: hidden;
  }
  /* author profile picture*/
  .col-xs-2.col-sm-5.small{
    width: 80px;
    padding-left: 20px;
    padding-top: 2px;
  }
  .postContainer{
    padding-top:55px;

  }
  .poster{
    padding-bottom:20px;
    position:absolute;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;

  }
  /* main content style */
  .maincontent.text-justify.max{
    padding-left: 10px;
    width: 355px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*padding add log main window */
  .panel.panel-default.add{
    padding-right:200px;
    padding-left:200px;
    background: transparent;
    border: none;
  }
  /* individual post picture */
  .postImage{
    padding-left:20px;
    max-height: 400px;
    max-width:auto;

      overflow: hidden;
  }
}

/* Large desktop */

@media (min-width: 980px) and (max-width: 1199px){
  /* log panel */

  .heading{
    text-align: center;
  }
  .individualLink{
    margin-top:10px;
    padding-left:20px;
  }
  .col-xs-6.time{
    margin-top:50px;
  }
  .content{
    text-align: justify;
      padding-left: 10px;
      padding-right: 20px;
  }
  /* main image */
  .mainPic{
    height: 230px;
    max-width: 450px;

    overflow: hidden;
  }
  /* author profile picture*/
  .col-xs-2.col-sm-5.small{
    width: 80px;
    padding-left: 20px;
    padding-top: 2px;
  }
  .postContainer{
    padding-top:55px;
    padding-right:50px;
    padding-left:50px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
  /* main content style */
  .maincontent.text-justify.max{
    padding-left: 10px;
    width: 298px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*padding add log main window */
  .panel.panel-default.add{
    padding-right:150px;
    padding-left:150px;
  }
  /* individual post picture */
  .postImage{
    padding-left:20px;
    max-height: 400px;
    max-width:auto;

      overflow: hidden;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* log panel */
  .panel.panel-default.logs, .container, .row{
    padding-left:0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
  }
  .heading{
    text-align: center;
  }
  .individualLink{
    margin-top:10px;
    padding-left:20px;
  }
  .col-xs-6.time{
    margin-top:50px;
  }
.postImage{
  height: 510px;
  max-width: 710px;

  overflow: hidden;
}
  .content{
    text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
  }

  .mainPic{
    height: 510px;
    max-width: 710px;

    overflow: hidden;
  }
  /* author profile picture*/
  .col-xs-2.col-sm-5.small{
    width: 80px;
    padding-left: 20px;
    padding-top: 2px;
  }
.col-md-6, .container{
  /* font size in add post texarea/ input */
  .form-control.chopsticks {
  font-size:115%;
}
  padding-right: 10px;
  padding-left: 10px;

  marging-right: 0px;
  marging-left:0px;
}
.panel-heading{

  margin-top:10px;
  margin-bottom: 0px;
  font-weight: bold;
}
.postContainer{
  padding-top:55px;
  padding-right:20px;
  padding-left:20px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #ffffff;
background-color: #007a5a;
box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
box-shadow: 10px 0 30px #004d39;
}
/*.panel-body{
  padding-right:0px;
  padding-left:0px;
}*/
/* main content style */
.maincontent.text-justify.max{
  padding-top:10px;
  padding-left:20px;
  width: 670px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:150%;
}
/* individual post picture */

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* log panel */
  .panel.panel-default.logs, .container, .row{
    padding-left:0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
  }
  .heading{
    text-align: center;
  }
  .individualLink{
    margin-top:10px;
    padding-left:20px;
  }
  .col-xs-6.time{
    margin-top:50px;
  }

  .content{
    text-align: justify;
      padding-left: 10px;
      padding-right: 10px;
  }
  /*main picture*/
  .mainPic{
    max-height: 600px;
    max-width: 650px;

    overflow: hidden;
  }
  /* author profile picture*/
  .col-xs-2.col-sm-5.small{
    width: 80px;
    padding-left: 20px;
    padding-top: 2px;
  }

  /* font size in add post texarea/ input */
  .form-control.chopsticks {
  font-size:125%;
}
  .col-md-6, .container{
    padding-right: 0px;
    padding-left: 0px;

    marging-right: 0px;
    marging-left:0px;
  }
  .panel-body{

    padding-right:5px;
    padding-left:5px;
  }
  .panel-heading{
    padding-top:10px;
    margin-top:10px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom:2px;
    padding-right: 5px;
    padding-left:5px;
  }
  .panel-body{
    padding-top:5px;
    padding-bottom:5px;
  }
  .maincontent{
    margin-top:5px;
    margin-bottom:5px;
  }
  .postContainer{
    padding-top:55px;

  }

  .buttonClassic{
    padding-bottom:20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
  /* main content style */
  .maincontent.text-justify.max{
    padding-left:10px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:125%;
  }
  }

/* Landscape phones and down */
@media (max-width: 480px) {
  /* log panel */
  .panel.panel-default.logs, .container, .row{
    padding-left:0px;
    padding-right:0px;
    margin-right:0px;
    margin-left:0px;
  }
  .heading{
    text-align: center;
  }
  .individualLink{
    padding-left:20px;
  }
  .col-xs-6.time{
    margin-top:50px;
  }

  .content{
    text-align: justify;
      padding-left: 20px;
      padding-right: 20px;
  }
  /* image in Log */
  .postImage{
    max-height: 310px;
    max-width: auto;
    margin-left:20px;
    margin-right:20px;
    overflow: hidden;
  }

  /*main picture*/
  .mainPic{
    max-height: 310px;
    max-width: 400px;

    overflow: hidden;
  }
  /* heading */
  .heading{
    font-weight: bold;
    font-size:18px;
  }
  /* author profile picture*/
  .col-xs-2.col-sm-5.small{
    width: 80px;
    padding-left: 20px;
    padding-top: 2px;
  }
  .panel-heading{
    padding-top:10px;
    margin-top:10px;
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom:2px;
    padding-right: 0px;
    padding-left:5px;
  }
  /* google maps */
  .angular-google-map-container {
    max-width: 400px;
    max-height: 200px;
}

  /* font size in add post texarea/ input */
  .form-control.chopsticks {
  font-size:125%;
}
.col-md-6{
  padding-left:0px;
  padding-right:0px;
}

  .maincontent{
    padding-right: 2px;
    padding-left: 2px;
  }
  .panel-body{

    padding-right:5px;
    padding-left:5px;
  }
  .small{
     color: transparent;
  }
  .postContainer{
    padding-top:55px;
  }
  .poster{
    padding-left:10px;
    font-size:10px;
  }
  .maincontent.text-justify.max.ng-binding{
    font-size: 13px;
  }
  .buttonClassic{
    padding-bottom:20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }

  /* main content style */
  .maincontent.text-justify.max{
    padding-left:10px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  }
