.box2 {
  padding: 2em;
  border: 2px solid #a1a1a1;
  display: block;
  width: 100%;
  border-radius: 25px;

  margin: -1px 0 0 -1px;
  color: black;


}

.angular-google-map-container { height: 400px; }
/* panel body color for search bar */
.panel-body {
  background-color: #8ebd8d;
}
.centered{
  display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
padding-left:5px;
padding-right: 5px;
}
.center-justified{
  text-align: justify;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  text-indent: 30px;


}
.btn.btn-default {
    background:  transparent;

    border: none;
}
.btn.btn-default:hover {
    background:  transparent;

    border: none;
}
/* ------------------- */

/* a href link color main content */
.link{
  color:black;
   text-decoration: none;
   background-color: none;
}
.link:focus{
  text-decoration: none;
}
.link:hover, .link:active, .link:focus{
    text-decoration:none;
}
/*
p:first-letter{
  font-size: 200%;
  font-family:  garamond, bodoni, curly, times, serif;
  text-shadow: 2px 1px 0 #BBBFC7, 7px 7px 0 #fff;
  color: #cc8400;

}
*/

/* -- Heart color --*/
.fa.fa-heart.fa-2x.red{
  color:#cc0000;
}
/* -- Star color -- */
.fa.fa-star.fa-2x.yellow{
  color:#ffff19;

}
/* -- Remove favorite -- */
.fa.fa-minus-circle.fa-2x.remove{
  color:red;
}
/* main page log background color */
.panel.panel-default.logs {
  background-color: #ffffff;
}
/* just for test image main page */
.tile.wide.imagetext.wideimage {
  width: 310px;
  height: 150px;
  padding: 0;
}

.metro.tile {
  position: relative;
  display: block;
  float: left;
  width: 150px;
  height: 150px;
  padding: 0;
  margin: 5px;
  overflow: hidden;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
  background-color: #2C83EF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.bg-color-blue {
  background-color: #2e8bcc !important;
}

.about-img{
  height: 50px;
}
.profilePicture{
  display: block;
    width: 200px;
    height: 200px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 3px solid #eee;
    box-shadow: 0 5px 5px rgba(44, 34, 3, 0.3);
    margin: 0 0 0 0;
    padding: 0;
    z-index: 1;
}
.dropdown-menu{
  background-color: #009971;

}
.dropdown-menu>li>a {
  color: #ffffff ;
}
.navbar-inverse .navbar-nav>li>a {
  color: #ffffff ;
}
.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.circular{
  display: block;
    width: 50px;
    height: 50px;
    margin: 1em auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 99em;
    -moz-border-radius: 99em;
    border-radius: 99em;
    border: 2px solid #eee;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
    margin: 0 0 0 0;
    padding: 0;
    z-index: 1;
}
.navbarColor{
  background-color: #332f1b;
}
.mainPage{
  padding-top:55px;
}
.navbar-inner {
    min-height: 0px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}

.maincontent{
  min-width: 200px;
}

/*/ customAlert */
.alert.customAlert {
    background-color: #fafafa;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #666;
    min-width: 400px;
    padding : 20px 40px 20px 30px;
    position: fixed;
    top: 20%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 9999;
    height: 92px;
}

.customAlert strong {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.customAlert .close {
    position: absolute !important;
    right: 15px !important;
    top: 5px !important;
}
.customAlert em {
    color: #999;
    display: inline-block;
    margin: 0 5px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: pre;
}
.listAddCont .action{
    top: 13px;
}
/* padding col main */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9,
.col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
padding-right:5px;
padding-left:5px;
}
/*small picture on main content logs page */
.col-xs-2.col-sm-6.small{
  width:80px;
  margin-top:7px;
  margin-left:22px;
}


/* XLarge Desktop */

@media (min-width:1200px){
  .postContainer{
    padding-top:55px;

  }
  .poster{
    padding-bottom:20px;
    position:absolute;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;

  }
  /* main content style */
  .maincontent.text-justify.max{
    width: 525px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*padding add log main window */
  .panel.panel-default.add{
    padding-right:200px;
    padding-left:200px;
    background: transparent;
    border: none;
  }
  /* individual post picture */
  .postImage{
    max-width: 400px;
  }
}

/* Large desktop */

@media (min-width: 980px) and (max-width: 1199px){


  .postContainer{
    padding-top:55px;
    padding-right:50px;
    padding-left:50px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
  /* main content style */
  .maincontent.text-justify.max{
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  /*padding add log main window */
  .panel.panel-default.add{
    padding-right:150px;
    padding-left:150px;
  }
  /* individual post picture */
  .postImage{
    max-width: 400px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
.col-md-6, .container{
  /* font size in add post texarea/ input */
  .form-control.chopsticks {
  font-size:115%;
}
  padding-right: 10px;
  padding-left: 10px;

  marging-right: 0px;
  marging-left:0px;
}
.panel-heading{

  margin-top:10px;
  margin-bottom: 0px;
}
.postContainer{
  padding-top:55px;
  padding-right:20px;
  padding-left:20px;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a {
color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
color: #ffffff;
background-color: #007a5a;
box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
box-shadow: 10px 0 30px #004d39;
}
/*.panel-body{
  padding-right:0px;
  padding-left:0px;
}*/
/* main content style */
.maincontent.text-justify.max{
  padding-left:10px;
  width: 670px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:150%;
}
/* individual post picture */
.postImage{
  max-width: 400px;
}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* font size in add post texarea/ input */
  .form-control.chopsticks {
  font-size:125%;
}
  .col-md-6, .container{
    padding-right: 10px;
    padding-left: 10px;

    marging-right: 0px;
    marging-left:0px;
  }
  .panel-body{

    padding-right:5px;
    padding-left:5px;
  }
  .panel-heading{
    margin-top:10px;
    margin-bottom: 0px;

    padding-top:2px;
    padding-bottom:2px;
    padding-right: 5px;
    padding-left:5px;
  }
  .panel-body{
    padding-top:5px;
    padding-bottom:5px;
  }
  .maincontent{
    margin-top:5px;
    margin-bottom:5px;
  }
  .postContainer{
    padding-top:55px;

  }
  .buttonClassic{
    padding-bottom:20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }
  /* main content style */
  .maincontent.text-justify.max{
    padding-left:10px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size:125%;
  }
  }

/* Landscape phones and down */
@media (max-width: 480px) {
  /* font size in add post texarea/ input */
  .form-control.chopsticks {
  font-size:125%;
}
.col-md-6{
  padding-left:0px;
  padding-right:0px;
}
h3{
  font-size:15px;
}
  .maincontent{
    padding-right: 2px;
    padding-left: 2px;
  }
  .panel-body{

    padding-right:5px;
    padding-left:5px;
  }
  .small{
     color: transparent;
  }
  .postContainer{
    padding-top:55px;
  }
  .poster{
    padding-left:10px;
    font-size:10px;
  }
  .maincontent.text-justify.max.ng-binding{
    font-size: 13px;
  }
  .buttonClassic{
    padding-bottom:20px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: #ffffff;
  background-color: #007a5a;
  box-shadow: inset 300px 0 300px -300px rgba(255, 255, 255, 0.3);
	box-shadow: 10px 0 30px #004d39;
  }

  /* main content style */
  .maincontent.text-justify.max{
    padding-left:10px;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

  }
  }
