<div class="mainPage" ng-controller = "friendsCtrl">

    <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-12">
            <div ng-include src="'partials/friends/autocomplete.html'"></div>
          </div>
          <div class="" ng-controller = "allFriendsCtrl" data-ng-init="init()">
            <table class="table table-hover" >
              <tr ng-repeat ="buddy in buddys" ng-click="thisFriend(buddy)">
                <div ng-click="thisFriend(buddy)">
                <td>
                  <img class = "circular" ng-src= "{{buddy.picture.picture}}" alt="profile picture" />
                </td>
                <td>
                  <span ng-bind = "buddy.picture.username"></span>
                  <span ng-bind = "buddy.picture.surname"></span>
                </td>
                <td>
                  <span>Friends since: <span am-time-ago="buddy.when"></span></span>

                </td>
              </div>
              </tr>
            </table>
            </ul>
          </div>
      </div>
    </div>
</div>
