<div class = "postContainer">
  <form name = "post"  ng-controller="addPostCtrl" ng-submit="submitForm()"  class="addPost" nv-file-drop="" uploader="uploader">
    <div class="col-md-6 col-centered">
      <!-- ************************* Use ID ************************************************* -->
        <input type="hidden" name="uid" ng-value ="auth.profile.user_id"/>
        <!-- *************************** Post heading **************************************-->
          <h4>Name of the post:</h4>
          <input type="text" class= "form-control" name="heading" ng-model="form.heading" ng-trim = "false" maxlength="30" />
        <!-- ************************** Post content ****************************************** -->
          <h4>Post Content:</h4>
          <textarea type="text" class="form-control" rows="3" name="content" ng-model="form.content" ng-trim = "false" maxlength="350" ></textarea></p>
          <span>{{350 - form.content.length}} left</span>
        <!-- **************************** Selects location ****************************************** -->
        <!--  <h4>Lookup location:</h4>
          <google-places location=location class="form-control" ng-model="form.location" ></google-places> -->
        <!-- ***************************** Date visited ******************************************** -->
          <h4>Date visited</h4>
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
            <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button> <br />

        <!-- ****************************** picture select ************************************************-->
        <h4>Select files</h4>
        <input type="file" nv-file-select="" uploader="uploader" multiple  /><br/>




        <div class = "buttonClassic">
          <button type="button" class="btn btn-success btn-s" ng-click="submitForm() ; uploader.uploadAll()">
              <span class="glyphicon glyphicon-upload"></span> Upload all
          </button>
          <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue();reset()">
              <span class="glyphicon glyphicon-trash"></span> Clear all
          </button>
        </div>

  </form>
</div>
