<div class="mainPage">
  <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-lg-6">
        <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" placeholder="Filter by keywords" aria-describedby="sizing-addon2" ng-model="objProppostHeadingFilter">
      </div>
      </div>
    </div>
  </div>
  <table class="table table-hover" >
    <tbody>
      <div class "col-md-9">
          <article class="col-md-6" ng-repeat ="favorite in favorites.slice().reverse() | filter:{$: objProppostHeadingFilter} " >

                              <div class="panel panel-default logs">

                              <div class = "" ng-click="openPopup(post)">

                                      <img src ="img/1.jpg" class= "img-responsive" />
                                    <div class="row">

                                    <div class="col-xs-2 col-sm-6" style ="width: 80px;">
                                      <img class = "circular" ng-src= "{{favorite.logs.picture.picture}}"alt="profile pic" />
                                    </div>
                                    <div class="col-sm-push-6">
                                      <h3 class = "panel-heading" ng-bind = "favorite.logs.postHeading"></h3>

                                    </div>
                                  </div>
                                    <p class = "maincontent text-justify" ng-bind = "favorite.logs.postContent"></p>
                                    <!--  <ui-gmap-google-map center='{latitude : "ng-bind: post.latitude", longitude:"ng-bind: post.logitude"}' zoom='map.zoom'></ui-gmap-google-map> -->
                                    <!-- image view -->
                                    <span>posted by: <span ng-bind = "favorite.logs.picture.username"></span> <span ng-bind = "favorite.logs.picture.surname"></span></span>

                                  </div>
                                      <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                        <div class="btn-group" role="group">
                                          <button type="button"  ng-click = "addToFavorit(post)" class="btn btn-default"><i class="fa fa-heart fa-2x red"></i> Give a heart</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                          <button type="button" class="btn btn-default"><i class="fa fa-comment fa-2x"></i> Comments</button>
                                        </div>
                                        <div class="btn-group" role="group">
                                          <button type="button" class="btn btn-default" ng-click = "removeFavorit(favorite)"><i class="fa fa-minus-circle fa-2x remove"></i> Remove</button>
                                        </div>
                                      </div>
                            </div>
          </article>
      </div>
    </tbody>
  </table>
</div>
