<div class="mainPage">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class = "centered">TravelMate: "Don't you Love personal recommandations?"</h3>
        <p class = "center-justified">
          Nowadays, more travellers use applications to plan their vacation and benefit from recommendations about entertainment, attractions, restaurants, etc.
           TravelMate aspires to create a reliable online community where members who "love" travelling can share their experiences, receive personal recommendations,
           comment, make new friends, and communicate with each other.
        </p>
        <p class = "center-justified">
          Community members can share travel logs, find inspiration for their next journey from friends they already know and trust or explore other member’s
          experiences to get ideas for next destination. Travel logs can be published to TravelMate community or only to your friend circle.
          The log includes a short description, pictures and geolocation. In addition users can use ‘find location’ on map; add time/date visited and tag friend in the post.
          The Web application also offers a keyword search option and a messaging service with tool for searching users within TravelMate community.
        </p>
      <h3 class = "centered">Build with tools</h3>
        <div class="centered">
          <img src ="img/angularjs.png" class= "about-img" />
          <img src ="img/bootstrap-logo.png" class= "about-img" />
          <img src ="img/HTML5.png" class= "about-img" />
          <img src ="img/php.png" class= "about-img" />
          <img src ="img/css.jpg" class= "about-img" />
        </div>
    </div>
  </div>
</div>
