<div>
  <h1>Things you need to do</h1>
  <ul>
    <li ng-repeat="todo in todos">
      <a ui-sref="auth.todoItem({id: todo.id})">
      {{todo.name}}
      </a>
    </li>
  </ul>
  <form name="form">
    <div class="col-lg-3">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="newTodo" />
        <span class="input-group-btn">
          <input type="submit" class="btn btn-default" ng-disabled="!newTodo" type="button" ng-click="add()" value="Add!" />
	</span>
	<input type = "hidden" name = "user_name" ng-value="auth.profile.name" ng-model = "form.name" />
      	<input type = "hidden" name = "user_email" ng-value="auth.profile.email" ng-model ="form.email" />
	<input type = "hidden" name = "user_id" ng-value="auth.profile.user_id" ng-model = "form.user_id" />
	<input type = "hidden" name = "user_gender" ng-value = "auth.profile.gender" ng-model = "form.gender" />
	</div>

	<div ng-controller="postCtrl">
		<table class = "table table-hover">
			<tbody>
				<ul class = "list-group">
					<li ng-repeat="post in posts.slice().reverse() | filter:{$: objProppostHeadingFilter}">
						<a class = "list-group-item" ng-click= "openPopup(post)">
							<div class = "panel panel-default">
								<div class = "panel-heading">
									<h3><span ng-bind = "post.postHeading"></span></h3>
								</div>
								<div class = "panel-body">
									<h5><span nd-bind = "post.postContent"></span></h5>
								</div>
								<div class = "panel-footer">
									<div class = "row">
										<div class ="col-sm-6">By: <span ng-bind = "post.uid"></span></div>
										<div class = "col-sm-6"><span style = "position: relative; left:-20px;" am-time-ago="post.postDate"></span></div>
									</div>
								</div>
							</div>
						</a>
					</li>
				</ul>
			</tbody>
		</table>
	</div>
      <span>User Name : {{auth.profile.name}}</span><br />
     








    </div>
  </form>

</div>
