<div>
<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>

      <i>({{match.model.email}})</i>
  </a>
</script>
<blockquote><h1>Search for friend</h1></blockquote>
<form class="form-search" ng-controller="newMessageCtrl">
    <!--Selected Friend: window.card = {{selectedUsers}} -->

        <input type="text" ng-model="selectedUsers" placeholder="Search for User"
            typeahead="c as c.name for c in users | filter:$viewValue | limitTo:10"
            typeahead-min-length='1' typeahead-on-select='onSelectPart($item, $model, $label)'
            typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;">
        <i class="icon-search nav-search-icon"></i>
</form>
</div>
