<div class="mainPage"  ng-controller="newMessageCtrl">

      <div class="row">
        	<div class="container">
        		<div class="col-sm-9">
        			<div ng-include src="'partials/newMessage/autocomplete.html'"></div>
        		</div>
            <div class="col-sm-9">
              <form role="form" ng-submit="sendMessage()">
                <div class="form-group">
                  <label for="comment">Message:</label>
                  <textarea class="form-control" rows="5" id="comment" ng-model="mess" placeholder="Type message here ..." maxlength="300"></textarea>
                  <span>{{300 - mess.length}} left</span>
                </div>
                <button type="button" class="btn btn-success btn-s" ng-click="sendMessage()">
                  <i class="fa fa-envelope-o"></i> Send Message
                </button>
              </form>
            </div>
        	</div>
        </div>
</div>
