    <div class="mainPage" data-ng-init="init()">
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-lg-6">
            <div class="input-group">
            <span class="input-group-addon" id="sizing-addon2"><i class="fa fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Filter by keywords" aria-describedby="sizing-addon2" ng-model="objProppostHeadingFilter">
          </div>
          </div>
        </div>
      </div>
      <div class="alert alert-info centered" ng-show="loading"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading all logs...

      </div>
      <table class="table table-hover" >
        <tbody>
          <div class="container-fluid">
          <div class="row-fluid">
              <article class="col-md-4" ng-repeat ="post in posts.slice().reverse() | filter:{$: objProppostHeadingFilter} " >

                                  <div class="panel panel-default logs">
                                    <a href="#/log/{{post.postID}}" >

                                      <div class = "link" ng-click="openPost(post)">
                                          <div class="mainPic">
                                            <div afkl-lazy-image="api/uploads/{{post.pics[0].name}}" class="afkl-lazy-wrapper afkl-img-ratio-{{image.ratio}} img-responsive"></div>

                                          
                                        </div>
                                          <div class="row">
                                            <div class="col-xs-2 col-sm-5 small">
                                                <img class = "circular" ng-src= "{{post.picture.picture}}"alt="profile pic" class="lazy" />
                                            </div>
                                            <div class="col-sm-push-6">
                                                <h5 class = "panel-heading" ng-bind = "post.postHeading"></h5>
                                            </div>
                                          </div>
                                            <p class = "maincontent text-justify max" ng-bind = "post.postContent"></p>
                                        </div>
                                    </a>
                                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                          <div class="btn-group" role="group">
                                            <span ng-bind = "post.like"></span><button type="button"  ng-click = "addToFavorit(post)" class="btn btn-default hvr-icon-push"><i class="fa fa-star fa-2x yellow"></i> <span class = "small">Add to Favourite</span></button>
                                          </div>
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default" ng-click= "addLike(post)"><i class="fa fa-heart fa-2x red"></i> <span class = "small">Love it!</span></button>
                                          </div>
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default">  <i class="fa fa-comment fa-2x"></i> <span class = "small">Comments</span></button>
                                          </div>
                                        </div>
                                </div>
              </article>
            </div>
          </div>
        </tbody>
      </table>
</div>
