<div class="panel panel-default comment">
<div class="panel-body">
<h4>Add a comments here:</h4>
<div class="col-md-12 comment">
  <form role="form" ng-submit="addComment()">
  <div class="col-md-6">
    <textarea type="text" class="form-control chopsticks" rows="2" name="comment" ng-model="comment" ng-trim = "false" maxlength="100" ></textarea></p>

  </div>
  <div class="col-md-6">
    <button name="Add Friend" class = "btn btn-large btn-success" ng-click= "addComment()">Add Comment</button>

  </div>
</form>
</div>



</div>
</div>
