<div class="panel panel-default comment">
<div class="panel-body">
<h4>Add a comments here:</h4>
<div class="col-md-12 comment">
  <div class="col-md-6">
    <form role="form" ng-submit="addComment()">
    <textarea type="text" class="form-control chopsticks" rows="2" name="comment" ng-model="comment" ng-trim = "false" maxlength="100" ></textarea>
  </form>

  </div>
  <div class="col-md-6">
    <button name="Add Friend" class = "btn btn-lg btn-success" ng-click= "addComment()">Add Comment</button>
  </div>
</div>
    <table class="table table-hover" >
      <tr ng-repeat ="allcom in allcoms.slice().reverse()">
        <div ng-click="thisFriend(buddy)">
        <td>
          <img class = "circular" ng-src= "{{allcom.picture.picture}}" alt="profile picture" />
        </td>
        <td>
          <span ng-bind = "allcom.picture.username"></span>
          <span ng-bind = "allcom.picture.surname"></span>
        </td>
        <td>
          <span ng-bind = "allcom.comContent"></span>
        </td>
        <td>
          <span>Commmented: <span am-time-ago="allcom.comDate"></span></span>
        </td>
        <td>
          <button class="btn btn-danger btn-lg" ng-click="deleteCom(allcom)"><i class="fa fa-trash-o"></i> Delete</button>
        </td>
      </div>
      </tr>
    </table>
</div>
</div>
