<div class="mainPage" >
  <div class="panel panel-default logs">
        <div class="col-md-12">
          <div class="col-md-6">
            <a href = "#/profile">
              <div class = "link">
                <span ng-bind="post.picture.name"></span><img class = "circular" ng-src= "{{post.picture.picture}}"alt="profile pic" />
                <span ng-bind = "post.picture.username"></span>
                <span ng-bind = "post.picture.surname"></span>
              </div>
            </a>
          </div>
          <div class="col-md-6">
              <h3>{{post.postHeading}}  </h3>
          </div>
        </div>
        <div class="col-md-12">

            <ul class="rslides" data-slider-class-selector="rslides" data-slider-refresh-on-watch="post.pica" slider>
              <li ng-repeat = "pi in post.pica"><img ng-src="api/uploads/{{pi.name}}" alt=""></li>
            </ul>

        </div>
        <span ng-bind = "post.postContent"></span><br />
        <div class="col-md-12">
          <div class="col-md-6">
            <ui-gmap-google-map center='map.center' zoom = 'map.zoom'>
                     <ui-gmap-marker idKey="marker.id" coords="marker.coords" icon="marker.icon">
                          <ui-gmap-window show='true'>
                            <div>
                              {{marker.coords}}
                            </div>
                          </ui-gmap-window>
                        </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
        {{post.post}}
             <p>posted: <span am-time-ago="post.postDate"></span></p>
               <button class="btn btn-success btn-lg" ng-click="back()"><i class="fa fa-arrow-left"></i> Back to Logs</button>
               <button ng-if ="post.uid == auth.profile.user_id" class="btn btn-danger btn-lg" ng-click="removePost(post)"><i class="fa fa-trash-o"></i> Delete Log</button>
               <div class="col-md-12 comment">
                 <div ng-include src="'partials/allPosts/comments.html'"></div>
               </div>
      </div>
</div>
