<div class="mainPage" ng-controller="postDetailCtrl">
  <div class="panel panel-default logs">
                <div class="col-md-6">
                  <h3>{{post.postHeading}}  by:  </h3>

                </div>
                <div class="col-md-6">
                  <span ng-bind="post.picture.name"></span><img class = "circular" ng-src= "{{post.picture.picture}}"alt="profile pic" />
                </div>
                <span ng-bind = "post.picture.username"></span>
                <span ng-bind = "post.picture.surname"></span>
                <hr />
              <!-- <img src ="img/1.jpg" class= "img-responsive" /> -->

               <span ng-bind = "post.postContent"></span><br />

               <span id = "{{post.uid}}">{{post.uid}}</span><br />
               <!--  <span>{{individualPost.location}}</span><br /> -->
               <div class = "col-sm-6 map_canvas">

               <ui-gmap-google-map center='map.center' zoom = 'map.zoom'>

                  <ui-gmap-marker idkey="markers.key" coords='markers.coords' icon='markers.icon'>
                 <!--       <ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
                         <div>
                               I should not be attached to a
                               marker.
                             <div ng-controller='InfoController'>
                                   <a class="btn" ng-click="clickedButtonInWindow()">CLICK ME</a>
                               </div>
                               <p ng-non-bindable >This is an info window at {{ latitude | number:4 }}, {{ longitude | number:4 }}!</p>
                               <p class="muted">My marker will stay open when the window is popped up!</p>
                           </div>
                       </ui-gmap-windows> -->
                   </ui-gmap-marker>
               </ui-gmap-google-map>
             </div>
               <span>{{post.postDate}}</span>
               <hr />

               <span am-time-ago="post.postDate"></span>


            
<pre>
  {{ post | json}}
</pre>

             </div>

</div>
